@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 70%;
    padding: 30px;
    border-radius: 10px;
}



.insert-data{
    background-color: #f2f2f2;
    width: 250px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    align-items: start;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 55%;
    z-index: 3000;
}
h4{
    font-size: 30px;
    margin-bottom: 20px;
}
.isi-data{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.isi-data label{
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 3px;
}
.isi-data input{
    border: none;
    background-color: #fff;
    border-radius: 5px;
}
.isi-data input:focus{

    outline: none;
}
input{
    padding: 5px 3px;
}
.simpan-data{
    display: flex;
    justify-content: center;
    align-items: center;
}

.simpan{
    background-color: #4b82f8;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
}

.verivikasi{
    font-size: 10px;
    color: #0ae941;
    margin-top: 10px;
}

table{
    font-size: 10px;
}

th, td {
    padding: 9px 20px; 
    text-align: center;
}

th {
    background-color: #4b82f8;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}